.lst-kix_eum01yn6l6h5-5 > li:before {
  content: '\0025a0  ';
}
.lst-kix_eum01yn6l6h5-4 > li:before {
  content: '\0025cb  ';
}
ul.lst-kix_lwnnd1gymbdg-7 {
  list-style-type: none;
}
ul.lst-kix_lwnnd1gymbdg-8 {
  list-style-type: none;
}
.lst-kix_eum01yn6l6h5-6 > li:before {
  content: '\0025cf  ';
}
ul.lst-kix_lwnnd1gymbdg-3 {
  list-style-type: none;
}
.lst-kix_eum01yn6l6h5-7 > li:before {
  content: '\0025cb  ';
}
ul.lst-kix_lwnnd1gymbdg-4 {
  list-style-type: none;
}
ul.lst-kix_lwnnd1gymbdg-5 {
  list-style-type: none;
}
ul.lst-kix_lwnnd1gymbdg-6 {
  list-style-type: none;
}
ul.lst-kix_lwnnd1gymbdg-0 {
  list-style-type: none;
}
ul.lst-kix_lwnnd1gymbdg-1 {
  list-style-type: none;
}
.lst-kix_eum01yn6l6h5-8 > li:before {
  content: '\0025a0  ';
}
ul.lst-kix_lwnnd1gymbdg-2 {
  list-style-type: none;
}
.lst-kix_lwnnd1gymbdg-3 > li:before {
  content: '-  ';
}
.lst-kix_lwnnd1gymbdg-4 > li:before {
  content: '-  ';
}
.lst-kix_lwnnd1gymbdg-2 > li:before {
  content: '-  ';
}
.lst-kix_lwnnd1gymbdg-6 > li:before {
  content: '-  ';
}
.lst-kix_lwnnd1gymbdg-5 > li:before {
  content: '-  ';
}
.lst-kix_tozetyn46706-8 > li:before {
  content: '-  ';
}
.lst-kix_lwnnd1gymbdg-0 > li:before {
  content: '-  ';
}
.lst-kix_lwnnd1gymbdg-1 > li:before {
  content: '-  ';
}
.lst-kix_g4umuha8k7ix-4 > li:before {
  content: '\0025cb  ';
}
.lst-kix_g4umuha8k7ix-6 > li:before {
  content: '\0025cf  ';
}
.lst-kix_g4umuha8k7ix-7 > li:before {
  content: '\0025cb  ';
}
.lst-kix_g4umuha8k7ix-3 > li:before {
  content: '\0025cf  ';
}
ul.lst-kix_g4umuha8k7ix-5 {
  list-style-type: none;
}
.lst-kix_g4umuha8k7ix-8 > li:before {
  content: '\0025a0  ';
}
ul.lst-kix_g4umuha8k7ix-6 {
  list-style-type: none;
}
ul.lst-kix_g4umuha8k7ix-3 {
  list-style-type: none;
}
.lst-kix_g4umuha8k7ix-0 > li:before {
  content: '-  ';
}
.lst-kix_g4umuha8k7ix-2 > li:before {
  content: '\0025a0  ';
}
ul.lst-kix_g4umuha8k7ix-4 {
  list-style-type: none;
}
ul.lst-kix_g4umuha8k7ix-1 {
  list-style-type: none;
}
ul.lst-kix_g4umuha8k7ix-2 {
  list-style-type: none;
}
ul.lst-kix_g4umuha8k7ix-0 {
  list-style-type: none;
}
.lst-kix_g4umuha8k7ix-1 > li:before {
  content: '\0025cb  ';
}
ul.lst-kix_g4umuha8k7ix-7 {
  list-style-type: none;
}
ul.lst-kix_g4umuha8k7ix-8 {
  list-style-type: none;
}
.lst-kix_tgb00it1260i-6 > li:before {
  content: '-  ';
}
.lst-kix_ipl8cb5i8vo5-5 > li:before {
  content: '-  ';
}
.lst-kix_ipl8cb5i8vo5-4 > li:before {
  content: '-  ';
}
.lst-kix_tgb00it1260i-3 > li:before {
  content: '-  ';
}
.lst-kix_tgb00it1260i-7 > li:before {
  content: '-  ';
}
ul.lst-kix_eum01yn6l6h5-4 {
  list-style-type: none;
}
.lst-kix_ipl8cb5i8vo5-2 > li:before {
  content: '-  ';
}
ul.lst-kix_eum01yn6l6h5-3 {
  list-style-type: none;
}
ul.lst-kix_eum01yn6l6h5-6 {
  list-style-type: none;
}
.lst-kix_ipl8cb5i8vo5-1 > li:before {
  content: '-  ';
}
.lst-kix_ipl8cb5i8vo5-3 > li:before {
  content: '-  ';
}
ul.lst-kix_eum01yn6l6h5-5 {
  list-style-type: none;
}
ul.lst-kix_eum01yn6l6h5-0 {
  list-style-type: none;
}
.lst-kix_tgb00it1260i-4 > li:before {
  content: '-  ';
}
ul.lst-kix_eum01yn6l6h5-2 {
  list-style-type: none;
}
.lst-kix_tgb00it1260i-5 > li:before {
  content: '-  ';
}
ul.lst-kix_eum01yn6l6h5-1 {
  list-style-type: none;
}
.lst-kix_ipl8cb5i8vo5-0 > li:before {
  content: '-  ';
}
.lst-kix_tgb00it1260i-8 > li:before {
  content: '-  ';
}
.lst-kix_g4umuha8k7ix-5 > li:before {
  content: '\0025a0  ';
}
ul.lst-kix_tozetyn46706-4 {
  list-style-type: none;
}
ul.lst-kix_w7anef6wn06m-3 {
  list-style-type: none;
}
ul.lst-kix_tozetyn46706-3 {
  list-style-type: none;
}
ul.lst-kix_w7anef6wn06m-4 {
  list-style-type: none;
}
ul.lst-kix_tozetyn46706-2 {
  list-style-type: none;
}
ul.lst-kix_w7anef6wn06m-1 {
  list-style-type: none;
}
ul.lst-kix_tozetyn46706-1 {
  list-style-type: none;
}
ul.lst-kix_w7anef6wn06m-2 {
  list-style-type: none;
}
ul.lst-kix_tozetyn46706-8 {
  list-style-type: none;
}
ul.lst-kix_w7anef6wn06m-7 {
  list-style-type: none;
}
ul.lst-kix_tozetyn46706-7 {
  list-style-type: none;
}
ul.lst-kix_w7anef6wn06m-8 {
  list-style-type: none;
}
ul.lst-kix_tozetyn46706-6 {
  list-style-type: none;
}
ul.lst-kix_w7anef6wn06m-5 {
  list-style-type: none;
}
ul.lst-kix_tozetyn46706-5 {
  list-style-type: none;
}
ul.lst-kix_w7anef6wn06m-6 {
  list-style-type: none;
}
ul.lst-kix_tozetyn46706-0 {
  list-style-type: none;
}
ul.lst-kix_w7anef6wn06m-0 {
  list-style-type: none;
}
ul.lst-kix_hqfo7ss5ds70-4 {
  list-style-type: none;
}
ul.lst-kix_hqfo7ss5ds70-3 {
  list-style-type: none;
}
ul.lst-kix_hqfo7ss5ds70-2 {
  list-style-type: none;
}
ul.lst-kix_hqfo7ss5ds70-1 {
  list-style-type: none;
}
ul.lst-kix_hqfo7ss5ds70-8 {
  list-style-type: none;
}
ul.lst-kix_eum01yn6l6h5-8 {
  list-style-type: none;
}
ul.lst-kix_hqfo7ss5ds70-7 {
  list-style-type: none;
}
ul.lst-kix_eum01yn6l6h5-7 {
  list-style-type: none;
}
ul.lst-kix_hqfo7ss5ds70-6 {
  list-style-type: none;
}
ul.lst-kix_hqfo7ss5ds70-5 {
  list-style-type: none;
}
.lst-kix_tgb00it1260i-2 > li:before {
  content: '-  ';
}
ul.lst-kix_hqfo7ss5ds70-0 {
  list-style-type: none;
}
.lst-kix_tgb00it1260i-0 > li:before {
  content: '-  ';
}
.lst-kix_tgb00it1260i-1 > li:before {
  content: '-  ';
}
.lst-kix_rl5beiqvt14y-1 > li:before {
  content: '\0025cb  ';
}
.lst-kix_ipl8cb5i8vo5-6 > li:before {
  content: '-  ';
}
.lst-kix_rl5beiqvt14y-0 > li:before {
  content: '-  ';
}
.lst-kix_rl5beiqvt14y-2 > li:before {
  content: '\0025a0  ';
}
.lst-kix_ipl8cb5i8vo5-7 > li:before {
  content: '-  ';
}
.lst-kix_ipl8cb5i8vo5-8 > li:before {
  content: '-  ';
}
.lst-kix_rl5beiqvt14y-5 > li:before {
  content: '\0025a0  ';
}
.lst-kix_rl5beiqvt14y-4 > li:before {
  content: '\0025cb  ';
}
.lst-kix_rl5beiqvt14y-3 > li:before {
  content: '\0025cf  ';
}
.lst-kix_rl5beiqvt14y-8 > li:before {
  content: '\0025a0  ';
}
.lst-kix_hqfo7ss5ds70-8 > li:before {
  content: '\0025a0  ';
}
ul.lst-kix_tgb00it1260i-6 {
  list-style-type: none;
}
ul.lst-kix_tgb00it1260i-5 {
  list-style-type: none;
}
.lst-kix_1xmw1gmqgu5-2 > li:before {
  content: '-  ';
}
ul.lst-kix_tgb00it1260i-8 {
  list-style-type: none;
}
ul.lst-kix_tgb00it1260i-7 {
  list-style-type: none;
}
ul.lst-kix_tgb00it1260i-2 {
  list-style-type: none;
}
ul.lst-kix_tgb00it1260i-1 {
  list-style-type: none;
}
.lst-kix_rl5beiqvt14y-6 > li:before {
  content: '\0025cf  ';
}
ul.lst-kix_tgb00it1260i-4 {
  list-style-type: none;
}
ul.lst-kix_tgb00it1260i-3 {
  list-style-type: none;
}
.lst-kix_rl5beiqvt14y-7 > li:before {
  content: '\0025cb  ';
}
.lst-kix_1xmw1gmqgu5-1 > li:before {
  content: '-  ';
}
.lst-kix_1xmw1gmqgu5-0 > li:before {
  content: '-  ';
}
ul.lst-kix_tgb00it1260i-0 {
  list-style-type: none;
}
ul.lst-kix_1xmw1gmqgu5-2 {
  list-style-type: none;
}
.lst-kix_1xmw1gmqgu5-7 > li:before {
  content: '-  ';
}
ul.lst-kix_ipl8cb5i8vo5-2 {
  list-style-type: none;
}
ul.lst-kix_1xmw1gmqgu5-1 {
  list-style-type: none;
}
.lst-kix_tozetyn46706-0 > li:before {
  content: '-  ';
}
ul.lst-kix_ipl8cb5i8vo5-1 {
  list-style-type: none;
}
.lst-kix_hqfo7ss5ds70-0 > li:before {
  content: '-  ';
}
ul.lst-kix_1xmw1gmqgu5-4 {
  list-style-type: none;
}
ul.lst-kix_ipl8cb5i8vo5-0 {
  list-style-type: none;
}
ul.lst-kix_1xmw1gmqgu5-3 {
  list-style-type: none;
}
.lst-kix_w7anef6wn06m-3 > li:before {
  content: '-  ';
}
.lst-kix_w7anef6wn06m-5 > li:before {
  content: '-  ';
}
.lst-kix_hqfo7ss5ds70-1 > li:before {
  content: '\0025cb  ';
}
ul.lst-kix_ipl8cb5i8vo5-6 {
  list-style-type: none;
}
.lst-kix_tozetyn46706-1 > li:before {
  content: '-  ';
}
.lst-kix_tozetyn46706-2 > li:before {
  content: '-  ';
}
ul.lst-kix_ipl8cb5i8vo5-5 {
  list-style-type: none;
}
ul.lst-kix_1xmw1gmqgu5-0 {
  list-style-type: none;
}
.lst-kix_1xmw1gmqgu5-6 > li:before {
  content: '-  ';
}
ul.lst-kix_ipl8cb5i8vo5-4 {
  list-style-type: none;
}
.lst-kix_w7anef6wn06m-4 > li:before {
  content: '-  ';
}
.lst-kix_w7anef6wn06m-8 > li:before {
  content: '-  ';
}
ul.lst-kix_ipl8cb5i8vo5-3 {
  list-style-type: none;
}
.lst-kix_1xmw1gmqgu5-3 > li:before {
  content: '-  ';
}
.lst-kix_w7anef6wn06m-1 > li:before {
  content: '-  ';
}
.lst-kix_1xmw1gmqgu5-5 > li:before {
  content: '-  ';
}
ul.lst-kix_1xmw1gmqgu5-6 {
  list-style-type: none;
}
ul.lst-kix_1xmw1gmqgu5-5 {
  list-style-type: none;
}
.lst-kix_1xmw1gmqgu5-4 > li:before {
  content: '-  ';
}
ul.lst-kix_1xmw1gmqgu5-8 {
  list-style-type: none;
}
ul.lst-kix_1xmw1gmqgu5-7 {
  list-style-type: none;
}
.lst-kix_w7anef6wn06m-2 > li:before {
  content: '-  ';
}
.lst-kix_hqfo7ss5ds70-7 > li:before {
  content: '\0025cb  ';
}
.lst-kix_tozetyn46706-7 > li:before {
  content: '-  ';
}
ul.lst-kix_rl5beiqvt14y-8 {
  list-style-type: none;
}
.lst-kix_hqfo7ss5ds70-6 > li:before {
  content: '\0025cf  ';
}
ul.lst-kix_rl5beiqvt14y-7 {
  list-style-type: none;
}
.lst-kix_hqfo7ss5ds70-5 > li:before {
  content: '\0025a0  ';
}
.lst-kix_tozetyn46706-5 > li:before {
  content: '-  ';
}
.lst-kix_tozetyn46706-6 > li:before {
  content: '-  ';
}
.lst-kix_w7anef6wn06m-0 > li:before {
  content: '-  ';
}
ul.lst-kix_rl5beiqvt14y-2 {
  list-style-type: none;
}
.lst-kix_hqfo7ss5ds70-3 > li:before {
  content: '\0025cf  ';
}
.lst-kix_lwnnd1gymbdg-7 > li:before {
  content: '-  ';
}
.lst-kix_lwnnd1gymbdg-8 > li:before {
  content: '-  ';
}
ul.lst-kix_rl5beiqvt14y-1 {
  list-style-type: none;
}
.lst-kix_tozetyn46706-3 > li:before {
  content: '-  ';
}
.lst-kix_tozetyn46706-4 > li:before {
  content: '-  ';
}
ul.lst-kix_rl5beiqvt14y-0 {
  list-style-type: none;
}
.lst-kix_hqfo7ss5ds70-2 > li:before {
  content: '\0025a0  ';
}
.lst-kix_hqfo7ss5ds70-4 > li:before {
  content: '\0025cb  ';
}
ul.lst-kix_ipl8cb5i8vo5-8 {
  list-style-type: none;
}
ul.lst-kix_ipl8cb5i8vo5-7 {
  list-style-type: none;
}
ul.lst-kix_rl5beiqvt14y-6 {
  list-style-type: none;
}
ul.lst-kix_rl5beiqvt14y-5 {
  list-style-type: none;
}
ul.lst-kix_rl5beiqvt14y-4 {
  list-style-type: none;
}
.lst-kix_1xmw1gmqgu5-8 > li:before {
  content: '-  ';
}
ul.lst-kix_rl5beiqvt14y-3 {
  list-style-type: none;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_eum01yn6l6h5-3 > li:before {
  content: '\0025cf  ';
}
.lst-kix_eum01yn6l6h5-2 > li:before {
  content: '\0025a0  ';
}
.lst-kix_eum01yn6l6h5-0 > li:before {
  content: '-  ';
}
.lst-kix_w7anef6wn06m-7 > li:before {
  content: '-  ';
}
.lst-kix_eum01yn6l6h5-1 > li:before {
  content: '\0025cb  ';
}
.lst-kix_w7anef6wn06m-6 > li:before {
  content: '-  ';
}
.lgpd ol {
  margin: 0;
  padding: 0;
}
.lgpd table td,
table th {
  padding: 0;
}
.c12 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;

  font-style: italic;
}
.c2 {

  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;

  font-style: normal;
}
.c3 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;

  font-style: normal;
}
.c8 {
  color: #262626;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;

  font-style: normal;
}
.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c14 {
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;

  font-style: normal;
}
.c11 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
}
.c13 {

  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c7 {
  padding: 0;
  margin: 0;
}
.c5 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.c10 {
  color: #262626;
  font-size: 12pt;
}
.c9 {
  color: inherit;
  text-decoration: inherit;
}
.c4 {
  height: 11pt;
}
.lgpd .title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;

  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.lgpd .subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;

  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.lgpd li {
  color: #000000;
  font-size: 11pt;
}
.lgpd p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
}
.lgpd h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;

  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.lgpd h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;

  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.lgpd h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;

  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.lgpd h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;

  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.lgpd h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;

  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.lgpd h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;

  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
